.Alert {
    padding: 12px 18px;
    border: 1px solid;
    border-radius: 5px;

    :global &--success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    :global &--danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
}
