.Question {
    :global table, :global td {
        border: 1px solid black;
    }
     
    :global td {
        padding: 5px;
    }

    :global table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}

.Header {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: right;
    margin-bottom: 10px;
}

.Btns {
    margin-bottom: 20px;
}

.BtnExecute {
    margin-right: 5px;
}