body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  transition: all 0.1s ease-in-out;

  &:hover, &:focus, &:active, &:visited {
    outline: none;
    background-color: blue;
    color: white;
  }

  &:disabled {
      cursor: default;
      background-color: grey;
      color: white;
      box-shadow: none;
  }
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-field {
  width: 100%;
  padding: 5px;
}

.form-error {
  font-size: small;
  color: red;
}
